<app-modal (onConfirma)="criaConta()" [desabilitaConfirma]="formularioNovaConta.invalid">
    <h1>nova conta</h1>
    <h2>você pode criar uma conta colocando um nome e o valor atual dela</h2>
    <app-mensagem-erro></app-mensagem-erro>
    <form [formGroup]="formularioNovaConta">
        <app-input-text [formGroup]="formularioNovaConta" id="nome-conta" [autoFocus]="true" formControlName="nome"
                        label="nome da conta"></app-input-text>
        <app-input-valor-monetario [formGroup]="formularioNovaConta" id="valor-inicial" formControlName="valorInicial"
                        label="valor inicial"></app-input-valor-monetario>
    </form>
</app-modal>
